<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="MonoTouch10" />
  <package id="Xamarin.QuickUI.Maps.Master" version="1.0.6458" targetFramework="MonoTouch10" />
  <package id="Xamarin.QuickUI.Master" version="1.0.6458" targetFramework="MonoTouch10" />
</packages>